@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap');
$primary-color: #000000;
$secondary-color: #03c9a9;
$tertiary-color: #ffffff;

// Buttons, Big text, any other highlighting part: secondary color,
// Navbar,sidebars,headers: primary color
// Background: tertiary color