$primary-color: #3c3c56;
$secondary-color: #03c9a9;
$tertiary-color: #ffffff;

// Buttons, Big text, any other highlighting part: secondary color,
// Navbar,sidebars,headers: primary color
// Background: tertiary color