<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="../css/contest.css" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img src="resources/logo_light.png" alt="" />
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
    <div class="contest-page">
        <div class="problem-standing">
            <div class="prob-stand-nav">
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1" style="padding-left: 0;">Problems</label>
                <input id="tab2" type="radio" name="tabs">
                <label for="tab2" style="padding-left: 0;">Standings</label>
                <a class="waves-effect waves-light btn update-table">Update</a>
            </div>
            <div class="standings">
                <table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Contestant</th>
                            <th>Solved</th>
                            <th>points</th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th>D</th>
                            <th>E</th>
                        </tr>
                    </thead>

                    <tbody class="table-body">
                        <!-- <tr>
                            <td>1</td>
                            <td>Lord_Invincible</td>
                            <td>5</td>
                            <td>8799</td>
                            <td>494</td>
                            <td>972</td>
                            <td>1250</td>
                            <td>1540</td>
                            <td>1878</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>abdude824</td>
                            <td>3</td>
                            <td>6756</td>
                            <td>498</td>
                            <td>856</td>
                            <td>1088</td>
                            <td>-3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>naman114</td>
                            <td>4</td>
                            <td>345</td>
                            <td>+</td>
                            <td>+2</td>
                            <td>+</td>
                            <td>+11</td>
                            <td>-4</td>
                        </tr> -->
                    </tbody>
                </table>

            </div>
        </div>

        <div class="winner">
            <h4>current Winner:</h4>
            <h4 class="contest-winner">hehe</h4>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="standings.js"></script>

</body>

</html>