<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">
          <img src="resources/logo_light.png" alt="" />
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>
    </nav>
    <div class="fullscreen">
      <video autoplay muted loop id="myVideo">
        <source src="resources/hero-video.mp4" type="video/mp4" />
      </video>
      <div class="content">
        <h1>Interactive Practice on</h1>
        <h1 class="heading">CODEBLAST</h1>
        <p>BLAST YOUR CODE</p>
        <form action="/dashboard">
            <input type="text" name="handle" id="">
            <a href="/dashboard">Get Started<i class="material-icons">add</i>
            </a>
        </form>
      </div>
    </div>

    <div class="instructions">
      <div class="content">
        <h1>Instructions</h1>
        <p>Here are the instructions to start a blast:</p>
        <ol>
          <li>Create a blast after logging in.</li>
          <li>Grab a coffee from your kitchen.</li>
          <li>
            Share the room id with your friends(See top right corner after
            joining).
          </li>
          <li>
            Let your friends join the room. Meanwhile, check out Fast and
            furious 9 songs and trailer🔥😁.
          </li>
          <li>
            When all your friends have joined, just click on the Ready button
            and ask all others to do the same.
          </li>
          <li>Questions would be visible to all of you, so All the best👍🤞</li>
        </ol>
      </div>
      <div class="image">
          <img src="resources/girl-dream.gif" alt="">
      </div>
    </div>
    <footer>
        <img src="resources/logo_light.png" alt="">
        <div class="about_us">
            <ul>
                <li>
                    Abhinandan Sharma(Github, Linkedin, Codeforces);
                </li>
                <li>
                    Shubhang Jyotirmey(Github, Linkedin, Codeforces);
                </li>
                <li>
                    Naman Gogia(Github, Linkedin, Codeforces);
                </li>
            </ul>
        </div>
        <div class="contact_us">
            <ul>
                <li>Codeforces Blog</li>
                <li>Mail to codeblasts@gmail.com</li>
            </ul>
        </div>
    </footer>
    <link rel="stylesheet" href="../css/hero.css" />
  </body>
</html>
