<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="a.jpg" alt="">
            </div>
            <div class="details">
                <h3>1525A</h3>
                <div class="button-do-it">
                    Do It
                </div>
            </div>
        </div>

        <div class="card card2">
            <div class="container">
                <img src="b.jpg" alt="">
            </div>
            <div class="details">
                <h3>1525B</h3>
                <div class="button-do-it">
                    Do It
                </div>
            </div>
        </div>
    </div>

    <div class="cards"> 
        <div class="card card3">
            <div class="container">
                <img src="c.jpg" alt="">
            </div>
            <div class="details">
                <h3>1525C</h3>
                <div class="button-do-it">
                    Do It
                </div>
            </div>
        </div>

        <div class="card card4">
            <div class="container">
                <img src="d.jpg" alt="">
            </div>
            <div class="details">
                <h3>1525D</h3>
                <div class="button-do-it">
                    Do It
                </div>
            </div>
        </div>
    </div>
</body>
</html>